<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.ydw.www.toolslib" >

    <!-- 8.0 以后需要自动安装的时候需要请求安装权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 从SDCard读取数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 录制语音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

</manifest>
